body {
    background: linear-gradient(
        180deg,
        #f5f7fa,
        #e6eef8
    );
    background-size: cover;
    font-family:"Inter", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    background-color: #001F5B;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 8px 20px;
    height: 90px;
}

.cabecalho {
    display: flex;
    flex: 1;
    gap: 60px;
    font-weight: bold;
    letter-spacing: 2.5px;
    justify-content: center;
}

.cabecalho a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 5px 8px;
    transition: 0.3s;
    text-decoration: none;
}

.cabecalho a:hover {
    color: #F4C542;
    
}

.banner {
    min-height: 60vh;
    background-image: url("../imagens/bannertreco.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-banner {
    text-align: center;
    color: white;
}

.texto-banner h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    text-shadow: 0 4px 10px #333
}



.artilheiros h2 {
    font-size: 50px;
    color: #001F5B;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 0.7px 2px #333;
}

.cabecalho-artilheiros{
    display: grid;
    grid-template-columns:  7fr 1fr;
    font-size: 25px;
    text-shadow: 0 0.2px 0.7px #333;
    font-weight: bold;
    color: #06810d;
    margin-bottom: 9px;
}

.artilheiros li {
    list-style: none;
    font-weight: bold;
}

.linha-gols{
    display: grid;
    grid-template-columns:  8fr 1fr;
    align-items: center;
    width: 100%;
    font-size: 22px;
}

.jogador {
    display: flex; /* Alinha a imagem e o texto lado a lado */
    align-items: center; /* Centraliza verticalmente */
    gap: 10px; /* Espaçamento entre a foto e o nome */
    padding: 10px 0;
    font-size: 25px;
    text-shadow: 0 0.3px 1.4px #333;
}

.info-jogador p{
    color: #333;
    font-size: 12px;
    padding: -50px;
    line-height: 1px;
    opacity: 40%;
}

.fi {
    border-radius: 2px;
    box-shadow: 0 1px 5px #333;
}

.foto-jogador {
    width: 150px; /* Ajuste o tamanho conforme preferir */
    height: 150px;
    border-radius: 50%; /* Isso torna a imagem circular */
    box-shadow: 0 2px 7px #333;
    object-fit: cover; /* Garante que a foto não fique distorcida */
    border: 1px solid #ccc; /* Opcional: uma borda fina */
}

.assistentes h2 {
    font-size: 50px;
    color: #001F5B;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 1px 2px #333;
}

.cabecalho-assistentes{
    display: grid;
    grid-template-columns:  7fr 1fr;
    font-size: 25px;
    text-shadow: 0 0.2px 0.7px #333;
    font-weight: bold;
    color: #06810d;
    margin-bottom: 9px;
}

.assistentes li {
    list-style: none;
    font-weight: bold;
}

.linha-assist{
    font-size: 22px;
    display: grid;
    grid-template-columns:  8fr 1fr;
    align-items: center;
    width: 100%;
}

.notas h2 {
    font-size: 50px;
    color: #001F5B;
    margin-bottom: 40px;
    text-align: center;
    text-shadow: 0 1px 2px #333;
}

.cabecalho-notas{
    display: grid;
    grid-template-columns:  7fr 1fr;
    font-size: 25px;
    text-shadow: 0 0.2px 0.7px #333;
    font-weight: bold;
    color: #06810d;
    margin-bottom: 9px;
}

.notas li {
    list-style: none;
    font-weight: bold;
}

.linha-nota{
    font-size: 22px;
    display: grid;
    grid-template-columns:  7fr 1fr;
    align-items: center;
    width: 100%;
}

footer {
    background-color: #001F5B;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 18px;
    line-height: 12px;
    color: #cbcbcb;
}

#artilheiros {
    scroll-margin-top: 500px;
}

#assistentes {
    scroll-margin-top: 500px;
}

#notas {
    scroll-margin-top: 500px;
}