body {
    background: linear-gradient(
        180deg,
        #f5f7fa,
        #e6eef8
    );
    background-size: cover;
    font-family:"Inter", sans-serif;
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #001F5B;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 8px 20px;
    height: 90px;
}

.cabecalho {
    display: flex;
    flex: 1;
    gap: 60px;
    font-weight: bold;
    letter-spacing: 2.5px;
    justify-content: center;
}

.cabecalho a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 5px 8px;
    transition: 0.3s;
    text-decoration: none;
}

.cabecalho a:hover {
    color: #F4C542;
    
}

.titulo {
    font-size: 50px;
    text-shadow: 0 0 6px black;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    z-index: 1;        /* Joga o texto para trás para não sumir */
    pointer-events: none;
    position: absolute;
    top: 150px;
}

.fundo img {
    object-fit: cover;
    width: 1600px;
    padding-bottom: 40px;
    position: relative;
   
    display: block;
}

.grade-noticias {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.noticia-principal {
    background: linear-gradient(
    135deg,
    #002868,
    #0047AB,
    #6A00FF
);
    border-radius: 15px;
    box-shadow: 0 0 10px #333;
    padding: 10px;
    width: 1300px;
    margin: auto;
    text-align: center;
    gap: 20px;
    text-shadow: 0 0 1px #333;
}

.noticia-principal img {
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 0 7px;
    margin-top: 10px;
}

.noticia {
    background: linear-gradient(
    135deg,
    #002868,
    #0047AB,
    #6A00FF
);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px #333;
    text-shadow: 0 0 1px #333;
}

.noticia img {
    width: 500px;
    border-radius: 15px;
    margin-top: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px #333;
}

.fundo img{
    position: relative;
    width: 100%;
    display: block;

}

p {
    font-size: 13px;
    line-height: 0px;
    opacity: 70%;
}
a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}